#content {
  padding-bottom: 11em;
}

#footer1 {
  position: absolute;
  width: 100%;
  bottom: 0em;
  height: 8em;
  background: var(--element-bg-color);
}

#footer1-title {
  position: relative;
  top: 1em;
  font-size: 0.6em;
  text-align: center;
  vertical-align: bottom;
}

#footer1-links {
  margin-top: 0.4em;
  text-align: center;
}

#footer1 a {
  padding: 0 4%;
  opacity: 1;
}

#footer1 a:hover {
  opacity: 0.7;
}

#fsfe-de {
  height: 3.5em;
}

#fsfe-en {
  height: 3.4em;
}

#mozilla-de {
  height: 2em;
}

#mozilla-en {
  height: 1.9em;
}

#msf-de {
  height: 3.2em;
}

#msf-en {
  height: 3.1em;
}

#bbwi {
  height: 5em;
}

/* tablets */
@media (max-width: 800px) {

  .en #footer1-links a:nth-child(2) {
    display: none;
  }

}

/* smartphones */
@media (max-width: 1200px) {

  .en #footer1 {
    bottom: 9em;
  }

  .en #footer1-links a:nth-child(2) {
    display: none;
  }

  #footer1-links a:nth-child(2), #footer1-links a:nth-child(4) {
    bottom: 1em;
	position: relative;
  }

  #footer1-links a:nth-child(1), #footer1-links a:nth-child(3) {
    display: none;
  }

  #footer1-links {
    margin-top: 2.5em;
  }

}