/* --- general --- */

#header {
  background-color: var(--header-green-bg-color);
  font-size: 1em;
  color: white;
  height: 3em;
  line-height: 3em;
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 5;
}

#header.red {
  background: var(--header-red-bg-color);
  animation: var(--header-red-animation);
}

#header.grey {
  background: var(--header-grey-bg-color);
}

#header.green {
  background: var(--header-green-bg-color);
  animation: var(--header-green-animation);
}

/* --- controls & menu ---  */
/* TODO: create new class for both. */

#header .control, #menu {
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 2em;
  height: 3em;
  width: 3em;
}

#header .control:hover, #menu:hover, .theme-button:hover{
  background-color: var(--control-hover-bg-color) !important;
  border-color: #d6d6d6;
}

.theme-button {
  background-clip: text;
  clip-path: content-box;
  border: none;
  scale: 1.25;
  padding: 0 !important;
  left: 20px;
  position: relative;
}

.theme-button:hover {
  background-clip: content-box;
}

/* --- prev page, next page, overview --- */

#header .control {
  float: right;
}

#header > :first-child {
  margin-right: 2%;
}

#prev-button {
  background-image: url("../img/ic_navigate_before_white_18dp_2x.png");
  background-image: url("../img/ic_navigate_before_white_24px.svg"), none;
}

#next-button {
  background-image: url("../img/ic_navigate_next_white_18dp_2x.png");
  background-image: url("../img/ic_navigate_next_white_24px.svg"), none;
}

#success-button {
  background-image: url("../img/ic_more_vert_white_18dp_2x.png");
  background-image: url("../img/ic_more_vert_white_24px.svg"), none;
}

/* --- menu --- */

#menu {
  float: left;
  margin: 0 2em;
}

#menu.menu {
  background-image: url("../img/ic_menu_white_18dp_2x.png");
  background-image: url("../img/ic_menu_white_24px.svg"), none;
}

#menu.close {
  background-image: url("../img/ic_close_white_18dp_2x.png");
  background-image: url("../img/ic_close_white_24px.svg"), none;
  background-color: #424242; /* grey 800 */
}

/* --- title --- */

#header .title {
  vertical-align: middle;
  font-size: 1.3em;
  float: left;
  color: white;
  text-decoration: none;
}

#header .title:hover {
  text-decoration: underline;
}

#title {
  display: block;
}

#title-short {
  display: none;
}

/* smartphones */
@media (max-width: 630px) {

  #title {
    display: none;
  }

  #title-short {
    display: block;
  }

  #menu {
    margin: 0 0.7em;
  }

  #header .control {
    width: 2.5em;
  }

}