@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
}

body {
    @apply dark:text-white/85 text-black/85 dark:bg-gray-900 bg-gray-100 dark:to-slate-900 dark:from-slate-700 from-slate-50 to-slate-200 bg-radial;
}

h2 {
    @apply text-4xl font-semibold pb-4 pt-2;
}

p {
    @apply text-lg py-2;
}

a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
}

a:hover {
    color: #535bf2;
}

button {
    @apply dark:bg-slate-600 text-lg bg-slate-200 border-gray-400 hover:bg-slate-300 focus:ring-1 shadow-sm ring-gray-400 dark:ring-gray-600 dark:hover:bg-slate-500 transition-all border-1 dark:border-gray-800 dark:text-white text-black cursor-pointer px-4 py-2 rounded-md;
}

button.theme-button {
    @apply transition-none shadow-none ring-0 dark:bg-transparent border-none bg-transparent dark:text-gray-100 text-gray-800;
}


@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }

    a:hover {
        color: #747bff;
    }
}
