@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@theme {
    /* light theme */
    --color-surface: var(--color-white);
    --color-surface-alt: var(--color-neutral-50);
    --color-on-surface: var(--color-neutral-600);
    --color-on-surface-strong: var(--color-neutral-900);
    --color-primary: var(--color-black);
    --color-on-primary: var(--color-neutral-100);
    --color-secondary: var(--color-neutral-800);
    --color-on-secondary: var(--color-white);
    --color-outline: var(--color-neutral-300);
    --color-outline-strong: var(--color-neutral-800);

    /* dark theme */
    --color-surface-dark: var(--color-neutral-950);
    --color-surface-dark-alt: var(--color-neutral-900);
    --color-on-surface-dark: var(--color-neutral-300);
    --color-on-surface-dark-strong: var(--color-white);
    --color-primary-dark: var(--color-white);
    --color-on-primary-dark: var(--color-black);
    --color-secondary-dark: var(--color-neutral-300);
    --color-on-secondary-dark: var(--color-black);
    --color-outline-dark: var(--color-neutral-700);
    --color-outline-dark-strong: var(--color-neutral-300);

    /* shared colors */
    --color-info: var(--color-sky-500);
    --color-on-info: var(--color-white);
    --color-success: var(--color-green-500);
    --color-on-success: var(--color-white);
    --color-warning: var(--color-amber-500);
    --color-on-warning: var(--color-white);
    --color-danger: var(--color-red-500);
    --color-on-danger: var(--color-white);

    /* border radius */
    --radius-radius: var(--radius-sm);

    --animate-pulse: pulse 0.75s cubic-bezier(0.4, 0, 0.6, 1) infinite;

    --footer-shadow: rgba(0, 0, 0, 0.1);
}

.dark {
    --footer-shadow: rgba(0, 0, 0, 0.4);
}

@layer utilities {
    .text-shadow-sm {
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    }
    .text-shadow {
      text-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    .text-shadow-lg {
      text-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    }
  }

*::-webkit-scrollbar {
    @apply w-2 h-2 transition-all duration-500;
}

*::-webkit-scrollbar-track,
*::-webkit-scrollbar-thumb,
.dark *::-webkit-scrollbar-track,
.dark *::-webkit-scrollbar-thumb {
    @apply bg-transparent shadow-none;
    transition: all 1s ease-in !important;
    box-shadow: none;
    will-change: box-shadow background-color border-color;
}

*:hover::-webkit-scrollbar {
    @apply bg-slate-600/20;
}

*:hover::-webkit-scrollbar-thumb {
    @apply bg-white/80 transition-all;
    transition: all 1s ease-in !important;
}

*:hover::-webkit-scrollbar-thumb:hover {
    @apply bg-white transition-all;
    transition: all 1s ease-in !important;
}

.dark *:hover::-webkit-scrollbar-thumb {
    @apply bg-slate-600/70 transition-all;
    transition: all 1s ease-in !important;
}

.dark *:hover::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-600 transition-all;
    transition: all 1s ease-in !important;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: clip;
}

body {
    @apply bg-fixed dark:text-white/85 text-black/85 dark:bg-gray-900 bg-gray-100 dark:to-slate-900 dark:from-slate-700 from-white to-slate-300 bg-radial dark:bg-radial-[at_100%_50%];
}


header.top-header {
    @apply mix-blend-hard-light dark:mix-blend-color-dodge;
}

article h1 {
    @apply text-3xl pt-2 text-transparent bg-clip-text font-bold bg-gradient-to-l to-red-400 from-orange-300 dark:to-red-300 dark:from-orange-200 inline-block;
}

h2 {
    @apply mb-6 text-3xl lg:text-6xl pb-4 pt-2 text-transparent bg-clip-text font-light bg-gradient-to-r to-red-400 from-green-500 dark:to-red-300 dark:from-lime-200 inline-block;
}

h2.text-2xl {
    @apply text-2xl lg:text-5xl;
}

h3 {
    @apply mb-4 text-xl lg:text-3xl pb-2 pt-1 font-light text-slate-800 dark:text-slate-300;
}

h4 {
    @apply mb-2 text-lg lg:text-2xl px-6 py-1 font-light text-slate-700 dark:text-slate-400;
}

p {
    @apply text-xl py-2 px-4;
}

ol {
    @apply list-decimal list-outside md:pl-16 pl-8;
}

ol li {
    @apply mb-2 text-xl;
}

hr {
    @apply my-8 mx-auto bg-slate-300  shadow-md h-1 rounded-md max-w-sm dark:bg-slate-400 border-none;
}

a:not(a:has(button)):not(header h1 a) {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
    transition: color 0.2s;
}

a:not(a:has(button)):not(header h1 a):hover {
    color: #454cc2;
}

table {
    @apply min-w-full divide-y divide-gray-200 dark:divide-gray-700 shadow-lg rounded-lg overflow-hidden;
}

table#query-result {
    @apply overflow-x-auto my-2 overflow-hidden;
    height: calc(100% - (var(--spacing) * 4));
}

table thead {
    @apply bg-slate-50 dark:bg-slate-700 to-slate-200 from-slate-100 bg-gradient-to-b dark:from-slate-800 dark:to-slate-900 border-b-1 border-white dark:border-gray-700;
}

table thead th {
    @apply py-2 px-4 text-left text-lg font-medium text-gray-500 dark:text-gray-300 uppercase tracking-wider;
}

table tbody {
    @apply bg-white divide-y divide-slate-200 dark:bg-gray-700 dark:divide-slate-500;
}

table#query-result tbody {
    @apply overflow-auto;
}

table tbody tr:nth-child(odd) {
    @apply bg-slate-50 dark:bg-slate-600;
}

table tbody tr:nth-child(even) {
    @apply bg-slate-100 dark:bg-slate-700;
}

table tbody td {
    @apply py-2 px-4 text-lg text-gray-500 dark:text-gray-300;
}

table tbody td:nth-child(even) {
    @apply bg-slate-200 dark:bg-slate-800;
}

table#query-result thead {
    @apply sticky text-sm top-0 z-10 shadow-sm;
}

table#query-result thead {
    @apply bg-slate-50/40 dark:bg-slate-700/40 backdrop-blur-xl to-slate-200/25 from-slate-100/0 bg-gradient-to-b dark:from-slate-800/0 dark:to-slate-900/25 border-b-1 border-white dark:border-gray-700;
}


table#query-result thead tr,
table#query-result tbody tr {
    @apply text-sm;
}

table#query-result tbody tr td {
    vertical-align: top;
}

button {
    @apply px-8 py-3 text-xl font-light text-center cursor-pointer transition duration-250 ease-in-out transform bg-slate-200 border-gray-300 border-1 dark:bg-slate-900 dark:border-gray-800/20 dark:hover:bg-slate-800/25 dark:hover:border-white/25 dark:focus:ring-slate-900/40 dark:focus:ring-offset-gray-700 rounded-xl shadow-inner shadow-gray-100 dark:shadow-inner dark:shadow-gray-600/80 dark:hover:shadow-gray-100/25 hover:bg-slate-100 hover:shadow-white hover:border-slate-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-200 focus:ring-slate-400/50 dark:active:bg-slate-900/50 active:bg-white/30;
}

button:not(header button):disabled {
    @apply hidden;
}

header button {
    @apply py-6 disabled:opacity-0 disabled:cursor-default rounded-none bg-slate-100/20 dark:bg-slate-800/50 ring-0 focus:ring-0 focus:ring-offset-0 shadow-none border-none opacity-80 dark:text-gray-100 text-gray-800/90 mix-blend-multiply dark:mix-blend-overlay dark:active:mix-blend-color-burn active:mix-blend-soft-light;
}

button.theme-button {
    @apply transition-none shadow-none ring-offset-0 m-0 ml-4 py-4 px-4 ring-0 self-start dark:bg-transparent border-none bg-transparent dark:text-gray-100 text-gray-800 outline-0;
    transition: all 0.2s;
    align-self: center;
}

button.icon, header a button {
    @apply p-4;
}

header a button {
    @apply min-h-16;
}

.navigation button {
    @apply mix-blend-overlay dark:active:mix-blend-color-burn active:mix-blend-soft-light transition-all w-full rounded-none dark:bg-transparent bg-transparent ring-0 focus:ring-0 focus:ring-offset-0 shadow-none border-none dark:text-gray-100 text-gray-800/80 opacity-80 mix-blend-multiply dark:active:mix-blend-color-burn active:mix-blend-soft-light;
}

.navigation button:hover {
    @apply bg-white/50 dark:bg-black/20;
}

code.hljs {
    box-shadow: 0 3px 8px -3px #00007733;
    border-color: oklch(0.89 0.05 252.8);
}

.dark code.hljs {
    box-shadow: 0 3px 8px -3px #0000775b;
    border-color: hsl(212, 20%, 27%);
}

code {
    @apply text-sm sm:text-base inline-flex text-left items-center border-1 my-1 border-slate-200 dark:border-slate-600 bg-gray-200/50 dark:bg-slate-700/50 text-blue-700 dark:text-blue-400 rounded-lg p-1;
    border-color: oklch(0.89 0.05 252.8);
}

.dark code {
    border-color: hsl(212, 20%, 27%);
}

.hero-toast-error {
    @apply items-center gap-8 min-w-64 text-black/75 dark:text-white/75 text-sm rounded-md border-1 border-red-400 shadow-xl bg-red-300/40 dark:bg-red-800/40 backdrop-blur-lg flex flex-row;
}

.hero-toast-success {
    @apply items-center gap-8 min-w-64 text-black/75 dark:text-white/75 text-sm rounded-md border-1 border-green-400 shadow-xl bg-green-300/40 dark:bg-green-800/40 backdrop-blur-lg flex flex-row;
}

.hero-toast-icon svg {
    width: 2.5em;
    height: 2.5em;
    opacity: 0.6;
}

text.recharts-text.recharts-cartesian-axis-tick-value,
text.recharts-text.recharts-pie-label-text {
    @apply fill-gray-500/70 dark:fill-gray-300/50;
}